---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'

interface MarkdownFrontmatter {
  date: number;
  pubDate: number;
}

const title = 'Digital Lich';
const homeTitle = 'The Opensourcerer';
const description = 'I am Alisson, a 🇧🇷 developer looking for hire!';
const seoDescription = 'A blog about software development, where I share some of my thoughts and discoveries.';

const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="leading-normal text-black bg-white font-body personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <article class="max-w-6xl px-3 mx-auto">
      <HomeHeader title={homeTitle} description={description} />
      <section class="grid grid-cols-1 gap-6 py-8 md:grid-cols-2 lg:grid-cols-3" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex justify-center pt-8 space-x-8 text-xl font-bold">
    <a href="/posts" data-test="see-all-link">
      See All<span>&rarr;</span>
    </a>
  </section>

  <Footer />
</body>

</html>